name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 10
      - run: pnpm install
      - run: pnpm run lint
      - run: pnpm graphql-codegen
      - run: pnpm run build
        env: 
          NEXT_PUBLIC_NHOST_SUBDOMAIN: ${{secrets.NHOST_SUBDOMAIN}}
          NEXT_PUBLIC_NHOST_REGION: us-east-1
        
